*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





svg #domainindia {}



#boythink {
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}

#boywindow {
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}


#girlWindow {

    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}



#shoesboyhead {
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#thinkboyhead {
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#girlhead {
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes windowscale {
    from {
        translate: 0 1rem;
        scale: .5;

    }

    to {
        translate: 0 -1rem;
        scale: .8;

    }

}
@keyframes windowscalrs{
    from {
        translate: 0 1rem;
        scale: .8;

    }

    to {
        translate: 0 -1rem;
        scale: .10;

    }

}

@keyframes head {
    from {
        rotate: 10deg;

    }

    to {
        rotate: -10deg;

    }
}

#toplalptop{
    animation: windowscalrs 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#midlaptop{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#lastlaptop{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#music{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#menhead{
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
#mobilesmall{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#bluecloudwww{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#server{
    animation: bumerang-s 3s ease-in infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

#girlhead{
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;

}
#Girl{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;


}
#boy{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;


}
#boyhead{
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
#LLL1{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;


}
#laptop{
    animation: windowscalrs 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;


}
#LLL2{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#musicLLL3{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#server123{
    animation: bumerang-s 3s ease-in infinite;
    transform-origin: bottom;
    transform-box: fill-bo

}
#cloudserver{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}

#ggrhead{
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


#girl{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#bigmsg{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#yellowmsg{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;


}
#yellowbigmsg{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;


}
#lovemsg{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;


}
#bigsettings{
    animation: windowscalrs 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;


}
#settings{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#mug{
    animation: bumerang-prev 3s ease-in infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#leaf{
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


#flowerpot{
    animation: bumerang-s 3s ease-in infinite;
    transform-origin: bottom;
    transform-box: fill-box;

}
#clock{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box

}
#hours{
    animation: windowscale 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box

}



@keyframes bumerang-s {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(20px)
    }
}

@keyframes bumerang-prev {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-20px)
    }
}
